 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
 }

 body {
   width: 100%;
   height: 100vh;
 }

 header {
   width: 100%;
   height: 18%;
   display: flex;
   justify-content: space-around;
   gap: 50px;
   align-items: center;
   padding: 5px 30px;
   background-color: #00ABE4;
 }

 figure {
   width: 70px;
   aspect-ratio: 1/1;
   margin-left: 2%;

 }

 figure img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .welcome {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 15px;

 }

 .welcome a {
   text-decoration: none;
   background-color: transparent;
   padding: 4px 8px;
   border-radius: 5px;
   color: black;

 }

 #title {
   color: white;
   font-size: 30px;
   text-align: center;
 }

 #logout {
   background-color: transparent;
   border: 1px solid white;
   color: white;
 }


 #user {
   color: yellow;
   display: inline-block;
   text-transform: capitalize;
 }



 .container {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: 1fr 2fr;
   /* gap: 20px; */
 }

 .main {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   gap: 10px;
 }



 .voteBtn {
   margin: auto;
   padding: 5px 20px;
   background-color: rgba(4, 194, 4, 0.979);
   cursor: pointer;
   border-radius: 10px;
   outline: none;
   color: white;
   border: none;
   font-weight: bold;
 }

 .cardContainerCover h2 {
   background-color: white;
   display: block;
   width: 100%;
 }

 .title {
   color: purple;
 }

 .cardContainerCover {
   background-color: #b1bfcf;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 10px;
   flex-direction: column;

 }

 .cardContainer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   /* background-color: #b1bfcfe7; */

   padding: 10px 30px;
   border-radius: 10px;
   justify-content: space-around;
 }

 .eCard {
   width: 210px;
   aspect-ratio: 1/1;
   background-color: rgb(104, 130, 159);
   /* background-color: rgba(17, 34, 51, 0.795); */
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
   border-radius: 10px;
   color: white;
 }

 form {
   align-self: center;
 }

 .voteSection {
   padding: 15px;

 }

 .voteSection select {
   text-transform: capitalize;
 }

 .voteSection button {
   display: block;
   margin-top: 10px;
 }

 .elections {
   padding-top: 10px;
 }

 .user-image {
   width: 100px;
   height: 100px;
   align-self: center;
 }

 .user-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
 }

 .card {
   min-width: 210px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: #b1bfcf;
   margin: 5%;
   align-items: left;
   color: rgb(12, 46, 90);
   font-weight: 600;
   border-radius: 5px;
   padding: 10px;
 }

 strong,
 small {
   color: rgb(12, 46, 90);

 }

 .username {
   /* color: rgb(12, 46, 90); */
   color: white;

 }

 .items {
   display: flex;
   flex-direction: column;
   padding: 10px;
   gap: 10px;
 }

 .card .img {
   width: 100px;
   aspect-ratio: 1/1;
   margin: auto;
 }

 .alreadyVoted {
   color: rgba(14, 194, 14, 0.979);
   padding: 5px;
 }

 .card .img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;

 }

 .info {
   width: 100%;
   font-size: larger;
   padding-left: 5%;
   margin-top: 10px;

 }

 @media only screen and (max-width:800px) {
   .container {
     grid-template-columns: 1fr;

   }

   #title {
     font-size: 22px;
   }


 }

 @media only screen and (max-width:600px) {
   header {
     flex-direction: column;
     height: auto;
     gap: 5px;
   }
 }