 *{
margin : 0;
padding : 0; 
box-sizing : border-box;
 } 

 body{
    width: 100%;
    height: 100vh;
    /* background-image: url("../img/helloworld.jpg"); */

    overflow: hidden;
 }

 header{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #00ABE4;
 }

 figure{
    height: 95%;
    aspect-ratio: 1/1;
    margin-left: 2%;

 }

 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
 }
 .welcome a{
    text-decoration: none;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 5px;
    color: black;
 
  }
#title{
    color: white;
    font-size: 40px; 
}
#logout{
    background-color: #A0A0A0;
    color: #000000;
}
  #user{
    color:yellow;
  }
.container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #E9F1FA;

}
  .card{
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #b1bfcf;
    margin: 5%;
    align-items: left;
    color: rgb(12, 46, 90);
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
  }
  .card .img{
    width: 100px;
    aspect-ratio: 1/1;
    margin: auto;
  }

  
.card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    
}
.info{
    width: 100%;
    font-size: larger;
    padding-left: 5%;
    margin-top: 10px;

}
